@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Common Reset Styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--primary-color: #000000;
	/* Black */
	--secondary-color: #000000B2;
	/* 70% */
	--third-color: #00000099;
	/* 60% */
	--fourth-color: #00000066;
	/* 40% */
	--background-color: #f1f1f1;
	/* Light Gray */
	--heading-color: #1d1d1d;
	/* Almost Black */
	--border-color: #dddddd;
	/* Light Border */
}

html,
body {
	height: 100%;
	font-size: 100%;
	line-height: 1.6;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: Inter;
}

.inter-<uniquifier> {
	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
	font-weight: <weight>;
	font-style: normal;
}

ul,
ol {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
	padding: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Image resets */
img {
	max-width: 100%;
	display: block;
	height: auto;
}

button {
	background: none;
	border: none;
	padding: 0;
	cursor: pointer;
}

input,
textarea {
	margin: 0;
	padding: 0;
	border: none;
}

.xfolio-header,
.xfolio-footer {
	max-width: 840px;
	margin: 0 auto;
	text-align: center;
	position: relative;
}

.xfolio-header {
	border: 1px solid #ddd;
	padding: 10px 20px;
	border-radius: 48px;
    margin-top: 20px;
}

.main-wrapper {
	max-width: 700px;
	margin: 20px auto;
}

.xfolio-flex {
	display: flex;
	justify-content: space-between;

}

.exfolio-main-menu ul {}

.exfolio-main-menu ul li {
	display: inline-block;
	margin-right: 30px;
	position: relative;
}

.exfolio-main-menu ul li:last-child {
	margin-right: 0;
}

.exfolio-main-menu ul li:not(:last-child)::after {
	content: '';
	position: absolute;
	background: #0000004D;
	width: 4px;
	height: 4px;
	border-radius: 50%;
	top: 10px;
	right: -20px;

}

/* POST STYLES */

.xfolio-posts {
	margin-top: 30px;
	margin-bottom: 60px;
}

h2.xfolio-post-title {
	font-weight: 400;
	font-size: 24px;
	line-height: 34px;
	color: #000;
	margin-top: 10px;
}

h1.xfolio-single-post-title {
	font-weight: 400;
	font-size: 40px;
	line-height: 48px;
	color: #000;
	margin-top: 10px;
	margin-bottom: 40px;
	display: block;
}

.xfolio-post-date {
	font-size: 14px;
	font-weight: 400;
	color: var(--third-color);
}

.xfolio-post-details {
	margin: 60px 0;
}

.xfolio-entry-content {
	font-size: 18px;
	color: var(--primary-color);
}

.xfolio-post-thumbnail {
	margin: 30px 0;
}

.xfolio-social-share {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;

	/* Position the social icons on the left side */
	position: fixed;
	top: 50%;
	left: 18%;
	transform: translateY(-50%);
	/* Center the icons vertically */
}

.xfolio-social-share span {
	font-size: 10px;
	text-transform: uppercase;
	color: var(--fourth-color);
	font-weight: 500;
}

.xfolio-social-share a {}

.xfolio-social-share a img {
	width: 16px;
}

.xfolio-page-title {
	font-size: 64px;
	color: var(--primary-color);
	font-weight: 400;
	margin-top: 50px;
	margin-bottom: 20px;
	display: block;
}

/* Footer Styles */
.xfolio-footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	padding: 40px 0;
	border-top: 1px solid #000;
}

.contact-info a {
	font-weight: 400;
	font-size: 18px;
	color: var(--primary-color);
}

.xfolio-footer-social-share {}

.xfolio-footer-social-share ul {
	display: flex;
	gap: 15px;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.xfolio-footer-social-share ul li {}

.xfolio-footer-social-share ul li a {
	display: block;
}

.xfolio-footer-social-share ul li a img {
	width: 16px;
}

/* HOME PAGE STYLES */
.welcome-text {
	margin-top: 80px;
}

.welcome-text>h3 {
	font-size: 80px;
	font-weight: 300;
	line-height: 96px;
	color: #0000001A;
	text-transform: uppercase;
	margin-left: -5px;
}

.welcome-text>h1 {
	font-size: 168px;
	font-weight: 300;
	color: #000000;
	text-transform: uppercase;
	margin-top: -60px !important;
	margin-left: -13px !important;
	box-sizing: border-box !important;

}

.welcome-text h4 {
	font-size: 34px;
	font-weight: 400;
	color: #000000CC;
	line-height: 40px;
	margin-top: -40px;
}

.welcome-description p {
	font-size: 20px;
	line-height: 32px;
	color: #000000CC;
	margin-top: 100px;
	max-width: 660px;
}

.contact-mail {
	padding-top: 40px;
	padding-bottom: 60px;
}

.contact-mail p a {
	display: block;
	font-size: 18px;
	font-weight: 400;
	line-height: 21px;
	color: var(--primary-color);
}


/* ABOUT PAGE STYLES */

.xfolio-about-intro{
  display: flex;
  gap: 40px;
  align-items: center;
}

.about-image img {
  max-width: 180px;
}
.about-text h1 {
  text-transform: uppercase;
  font-size: 80px;
  font-weight: 400;
  line-height: 80px;
}
.about-text h4 {
  text-transform: capitalize;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  color: var(--secondary-color);
  margin-left: 4px;
  margin-top: 10px;
}

.about-description p {
  font-size: 20px;
  line-height: 32px;
  color: var(--secondary-color);
  margin-top: 80px;
  max-width: 660px;
}

ul.passion-list{
  display: flex;
  gap: 60px;
  margin-top: 40px;
}
ul.passion-list li {
  font-size: 18px;
  font-weight: 300;
  position: relative;
}

ul.passion-list li:not(:last-child)::after {
  content: '';
  position: absolute;
  height: 1px;
  width: 40px;
  background: #ddd;
  top: 15px;
  right: -50px;
}

.xfolio-experience {
  margin-top: 80px;
  margin-bottom: 50px;
}

h4.xfolio-section-title {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
  color:#00000066;
  margin: 30px 0;
}

.xfolio-academic {
  padding-bottom: 50px;
}
.xfolio-single-academic{
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 25px 0;
  border-bottom: 1px solid #0000001A;
}
.xfolio-single-academic:last-child{
  border-bottom: none;
}
h3.xfolio-institute-name{
  text-transform: capitalize;
  font-size: 24px;
  line-height: 29px;
  color: var(--primary-color);
  font-weight: 400;
}
.xfolio-single-academic ul{
  display: flex;
  gap: 20px;
}
li.xfolio-course{
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  color: var(--third-color);
}
li.xfolio-course-duration{
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: var(--fourth-color);
  position: relative;
}
li.xfolio-course-duration::before {
  content: '';
  position: absolute;
  width: 1px;
  height: 16px;
  background:#00000066;
  top: 3px;
  left: -10px;
}
p.xfolio-subject {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: var(--fourth-color);
}

.xfolio-page-content {
  position: fixed;
  top: 50%;
  right: 10%;
}
.xfolio-page-content p {
  font-size: 10px;
  font-weight: 500;
  line-height: 12px;
  color: var(--fourth-color);
  text-transform: uppercase;
  margin-bottom: 10px;
}
.xfolio-page-content ul {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.xfolio-page-content ul li{}
.xfolio-page-content ul li a{
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: var(--fourth-color);
}

.contact-info > a.email-me {
	display: none;
}

/* RESPONSIVE CODES  */

@media (max-width: 840px) {
    .contact-info > a.email-contact {
		display: none;
	}
	.contact-info > a.email-me {
		display: block;
		font-weight: 500;
		font-size: 15px;
	}
}

/* Default menu styling */
.exfolio-main-menu {
    /* position: relative; */
}

/* Menu toggle buttons */

.menu-toggle {
    display: none;
    cursor: pointer;
    z-index: 999;
    font-size: 24px;
}

.hamburger-icon,
.close-icon {
    font-size: 24px;
    color: #000;
}

@media (max-width: 768px) {
	.menu-toggle {
        display: block;
        padding: 10px 0;
        margin: 0;
        line-height: 0;
    }
	.xfolio-header {
		position: fixed;
		bottom: 20px;
		z-index: 999;
		background-color: #fff;
		width: 90%;
		left: 50%;
		transform: translateX(-50%);
	}	
	ul.menu{
		display: none;
	}
	.menu.active {
		display: flex;
        flex-direction: column;
        align-items: start;
        padding: 5px 10px;
        opacity: 1;
		position: absolute;
		bottom: 45px;
		left: 0;
		width: 100%;
		background-color: #fff; 
        transition: max-height 0.5s ease, opacity 0.5s ease;
    }
	.exfolio-main-menu ul li:not(:last-child)::after{
		display: none;
	}
	ul#primary-menu li a {
        font-size: 26px;
        font-weight: 400;
        padding: 10px 10px;
        line-height: 30px;
        display: block;
    }
}

/* Responsive menu styles for screens 768px and below */
/* @media (max-width: 768px) {
    .xfolio-header{
		position: fixed;
		bottom: 20px;
		z-index: 999;
		background-color: #fff;
		width: 100%;
	}
    .exfolio-main-menu {
        
        width: 100%;
        max-height: 0;
        overflow: hidden;
        background-color: #fff; 
        transition: max-height 0.5s ease, opacity 0.5s ease;
        z-index: 998;
    }

    
    .menu-toggle {
        display: block;	
    }
    
    .exfolio-main-menu.active {
        max-height: 300px; 
        opacity: 1;
		position: absolute;
		bottom: 45px;
		background-color: red;
		width: 94%;
    }

   
    #primary-menu {
        display: flex;
        flex-direction: column;
        align-items: start;
        padding: 5px 10px;
    }

    #primary-menu li {
        margin: 10px 0;
    }

    #primary-menu a {
        color: #000;
        text-decoration: none;
        font-size: 18px;
    }
} */
