/* ExFolio Plugin Styles */
.exfolio-experience-list {
    margin: 20px 0;
    font-family: Inter;
    width: 100%;
    display: block;
}

.exfolio-experience-list h1,
.exfolio-experience-list h2,
.exfolio-experience-list h3,
.exfolio-experience-list h4,
.exfolio-experience-list h5,
.exfolio-experience-list h6,
.exfolio-experience-list ul,
.exfolio-experience-list li,
.exfolio-experience-list p
{
    margin: 0;
    padding: 0;
}

.exfolio-experience-item {
    padding: 30px 0;
    border-bottom: 1px solid #0000001A;
    font-family: Inter;
}
.exfolio-experience-item:last-child {
    border: none;
}
.exfolio-toggle-collapse {
    margin-top: 10px;
    cursor: pointer;
}

.exfolio-collapse-content {
    margin-top: 10px;
}
.exfolio-collapse-content ul {
    list-style:disc;
}

.exfolio-experience-meta-info {
    display: flex;
    justify-content: start;
    gap: 5px;
    flex-wrap: wrap;
    margin: 10px 0px 0px 0px;
    padding-bottom: 10px;
    font-family: Inter;
}

.exfolio-company-info{
    display: flex;
    gap: 7px;
}

h3.exfolio-experience-title {
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    color: #000;
    cursor: pointer;
    font-family: Inter;
}
.exfolio-experience-meta-info img {
    width: 20px;
    height: 20px;
    display: inline-block;
}
.exfolio-company-name h4 {
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    color: #000000B2;
    position: relative;
    margin-right: 20px;
    font-family: Inter;
}

.exfolio-company-name h4::after {
    content: '';
    position: absolute;
    width: 1px;
    height: 16px;
    top: 3px;
    right: -13px;
    background: #00000066;
}

.exfolio-company-duration p {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: #00000099;
}

p.exfolio-responsibilities{
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    color: #00000066;
    text-transform: uppercase;
    margin: 15px 0;
}

p.exfolio-description{
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
    color: #000;
    
}

.exfolio-collapse-content ul{
    margin-left: 13px;
}
.exfolio-collapse-content li{
    margin: 10px 0;
}

.exfolio-collapse-content li::marker{
    color: #00000066;
}

.exfolio_collapse_toggle {
    margin-left: auto;
    margin-top: -30px;
}
.exfolio_collapse_toggle img{
    width: 12px;
    height: 6px;
    cursor: pointer;
}

.exfolio_collapse_toggle {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.collapse-icon {
    width: 16px; /* Adjust size as needed */
    margin-left: 8px;
}


/*RESPONSIVE CODES*/

@media (max-width: 768px) {
    h3.exfolio-experience-title {
        font-size: 18px !important;
    }
    .exfolio-company-name h4 {
        font-size: 16px !important;
    }
    .exfolio-company-name h4::after{
        display:none !important;
    }
    .exfolio-collapse-content li{
        font-size: 15px;
        font-weight: 300;
    }
    .exfolio-experience-meta-info {
        flex-direction: column;
    }
    .exfolio_collapse_toggle {
        margin-left: -7px;
        margin-top: 15px;
    }
    
}